---
// Copyright (c) Pascal Brand
// MIT License

import './webtools-postit.scss'
import { webtools } from '../../index'
import type { HTMLAttributes } from 'astro/types';

const propsToVars: webtools.PropsToVars = [
  { var: '--wt-postit-up',     prop: "up"},
  { var: '--wt-postit-rotate', prop: "rotate"},
  { var: '--wt-postit-width',  prop: "width"},
  { var: '--wt-postit-color',  prop: "color"},
]

interface PrivateProps {
  text: string,
  up?: string,
  rotate?: string,
  width?: string,
  color?: string | undefined | null,
}

interface Props extends HTMLAttributes<"div">, PrivateProps {}

const {
  class: className = '',
  style = '',
  text,
  ...props
} = Astro.props;

---
<div
  style=`${webtools.createVarStyle(style, props, propsToVars)}`
  class={className + " webtools-postit"}
  {...props}>
    {text}
</div>
