---
// Copyright (c) Pascal Brand
// MIT License

// webtools-nav.scss must be imported in the calling component
import type { HTMLAttributes } from 'astro/types';

interface PrivateProps {
  links : { href: string, text: string, }[],
}

interface Props extends HTMLAttributes<"div">, PrivateProps {}

const {
  class: className = '',
  style = '',
  links,
  ...props
} = Astro.props;

---

<nav
  style={style}
  class={className + " webtools-nav"}
  {...props}>
  <div>
    <span class="logo webtools-show-when-hamburger">Menu</span>
    <input class="hamburger-isopened" type="checkbox" id="hamburger-isopened" />
    <label class="hamburger-div" for="hamburger-isopened"><span class="hamburger-rendering"></span></label>
    <ul class="menu">
      {
        links.map(link => (<li><a href={link.href}>{link.text}</a></li>))
      }
    </ul>
  </div>
</div>
